/*Color scheme*/

:root {
	--fontcolor:#000000;
	--maincolor:rgb(139, 198, 218);
  --codecolor:#011f29;
	--hovercolor:purple;
	--backcolor:silver;
}

*, ::before, ::after {
	box-sizing:border-box;
	padding:0;
	margin:0;
}
html {
	font-size:18px;
	font-family:"Walter Turncoat", cursive;
	font-weight:bold;
}
body {
	color:var(--fontcolor);
  background-color:var(--maincolor);



}
.walter-turncoat-regular {
  font-family: "Walter Turncoat", cursive;
  font-weight: 900;
  font-style: bold;
}
.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
#navbar {

	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:200px;
	background-color:var(--codecolor);
	z-index:1;
}
#navbar header {
	font-size:24px;
	font-weight:800;
	color:var(--maincolor);


}
#navbar ul {
	display:flex;
	flex-direction:column;
	gap:50px;
	text-decoration:none;
	margin-top:30px;




}
.nav-link {
	color:var(--maincolor);
	border:1px solid transparent;
	text-decoration:none;
}
.nav-link:hover {
	color:var(--backcolor);
	background-color:var(--codecolor);
	border:1px solid var(--hovercolor);
	
}
.nav-link:active {
	color:var(--backcolor);
	background-color:var(--codecolor);
	border:1px solid var(--hovercolor);
	

}
section header {
	font-size:24px;
	font-weight:800;
}

ul li {
	list-style-type:none;
}
img {
	height:300px;
	width:auto;
	margin:0 auto;
	display:block;
	border:4px solid var(--codecolor);
	outline:4px solid var(--hovercolor);
}
img:hover {
	transform:scale(2);
}



code {
	font-family:  "Roboto Mono", monospace;
	color: var(--codecolor);
	background-color:var(--backcolor);
}
.big {
	font-size:30px;
}
.nav-link, #navbar header {
	animation:rainbow 10s ease-in-out;

}
@keyframes rainbow {
0% {
color:#036A8C;
text-shadow: 3px 3px 5px rgba(252, 242, 79, 1);
}
20% {
color:purple;
text-shadow: 3px 3px 5px rgb(5, 248, 107);

}
40% {
	color:rgb(10, 99, 99);
	text-shadow: 3px 3px 5px rgb(225, 16, 173);
}
60% {
	color:rgb(13, 10, 240);
		text-shadow: 3px 3px 5px rgb(226, 213, 223);

}
80% {
	-color:rgb(184, 4, 163);
		text-shadow: 3px 3px 5px rgb(32, 31, 32);
}
100% {
	color:silver;
		text-shadow: 3px 3px 5px rgb(68, 36, 83);
}

}




#main-doc{
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	position:absolute;
	top:0;
	height:100%;
	margin-left:200px;
	justify-content:space-around;
	
	width:100%;
  border:2px solid transparent;

}
.main-section {
	margin-bottom:100px;
}





/* For devices less than 500px*/

@media screen and (max-width:500px) {
	html {
		font-size:.8em;
		background: #04F4FF;
background: linear-gradient(to left, #04F4FF 0%, #B9FAFF 19%, #F1F1F1 49%, #A6E2D8 78%, #00C6C6 100%);
	
	}
	body {
		background: #04F4FF;
background: linear-gradient(to left, #04F4FF 0%, #B9FAFF 19%, #F1F1F1 49%, #A6E2D8 78%, #00C6C6 100%);
	}
	#navbar {
		position:fixed;
		top:0;
		width:100vw;
		height:20vh;
		z-index:1;
		margin-left:
		margin-right:10px;
		border-bottom:4px solid var(--codecolor);
		background: #04F4FF;
background: linear-gradient(to left, #04F4FF 0%, #B9FAFF 19%, #F1F1F1 49%, #A6E2D8 78%, #00C6C6 100%);
	}
	
	#navbar ul {
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		gap:none;
		margin:auto 10px

	}
.nav-link, #navbar header {
	animation:none;
	color:var(--fontcolor);
}
	
	#main-doc {
		position:relative;
		top:200;
		width:100%;
		height:100vh;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:space-around;
		margin-left:10px;
		margin-right:10px;
		text-align:center;
		padding:0 30px 30px 30px;
		background: #04F4FF;
background: linear-gradient(to left, #04F4FF 0%, #B9FAFF 19%, #F1F1F1 49%, #A6E2D8 78%, #00C6C6 100%);
	
	}
	img {
		width:75%vw;
		height:auto;
		margin:0 auto;
		outline:4px solid var(--hovercolor);
		margin:auto 20px;
		padding:0 30px;
	}
  
}
@media (prefers-reduced-motion: reduce) {
  ..nav-link, #navbar header {
    animation: none;
  }
}
